node-red/flows.json
[{"id":"b83cfa4dfda7a080","type":"tab","label":"Pihole automation when internet down","disabled":false,"info":""},{"id":"41bd3f02b4379132","type":"tab","label":"Gughan has arrived","disabled":false,"info":""},{"id":"8516d0c.17e2e3","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"49f39d4adc836d54","type":"trigger-state","z":"b83cfa4dfda7a080","name":"WAN Status - Disconnected","server":"8516d0c.17e2e3","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.internet_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":180,"y":180,"wires":[["8aee4dd6060cea91"],[]]},{"id":"8aee4dd6060cea91","type":"api-call-service","z":"b83cfa4dfda7a080","name":"Pihole Disable Logging","server":"8516d0c.17e2e3","version":3,"debugenabled":false,"service_domain":"shell_command","service":"pihole_turn_off_logging","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":180,"wires":[["49f39d4adc836d54","f77952daf2469911"]]},{"id":"f77952daf2469911","type":"trigger-state","z":"b83cfa4dfda7a080","name":"WAN Status - Connected","server":"8516d0c.17e2e3","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.dir_825acg1_wan_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":340,"wires":[["78deb43bc620acf1","8740ebe50823903f"],[]]},{"id":"78deb43bc620acf1","type":"api-call-service","z":"b83cfa4dfda7a080","name":"Pihole Enable Logging","server":"8516d0c.17e2e3","version":3,"debugenabled":false,"service_domain":"shell_command","service":"pihole_turn_on_logging","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":340,"wires":[["f77952daf2469911","49f39d4adc836d54"]]},{"id":"8740ebe50823903f","type":"api-call-service","z":"b83cfa4dfda7a080","name":"Run Speedtest","server":"8516d0c.17e2e3","version":3,"debugenabled":false,"service_domain":"speedtestdotnet","service":"speedtest","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":400,"wires":[[]]},{"id":"ba165ff8a67a78e4","type":"trigger-state","z":"41bd3f02b4379132","name":"Gughan has arrived","server":"8516d0c.17e2e3","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.gughan_ravikumar","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Home","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Home","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":240,"y":180,"wires":[[],[]]}]